:root {
   --text-color: #000;
   --window-bg-color: #ffffffa4;
   --window-bg-color-hover: #ffffffd2;
   --icon-brightness: brightness(0);
   --trans-final-color: #fff;
}

:root[class="dark"]{
   --text-color: #fff;
   --window-bg-color: #000000a4;
   --window-bg-color-hover: #000000d2;
   --icon-brightness: brightness(1);
   --trans-final-color: #000;
}

body {
    background-color: var(--background);
    background-image: url(bg/000.png);
    background-blend-mode: var(--bgBlend);
    background-size: 4vh 4vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
    'trans trans'
    'nav main'
    'footer footer';
    grid-template-columns: 1fr 5fr 1fr;
    overflow-x: hidden;
    color: var(--text-color);
    font-family: 'Krona One';
    text-shadow: 0px 0.2vh var(--shadowColor);
    text-align: justify;
    word-wrap: break-word;

    animation: backgroundMovement;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes backgroundMovement {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1280px;
    }
    
}

@keyframes whiteFadeIn {
    0% {background-color: transparent; z-index: -1;}
    100% {background-color: var(--trans-final-color); z-index: 9;}
    
}

@keyframes whiteFadeOut {
    0% {background-color: var(--trans-final-color);  z-index: 9;}
    100% {background-color: transparent; z-index: -1;}
    
}

#transitionFade {
    animation: whiteFadeOut 0.4s ease-in-out;
    position: fixed;
    top: 1%;
    width: 110%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    grid-area: trans;
}

main {
    position:static;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-area: main;
    padding-left: 1.5vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    
}

/* TODO: FIX */
main>div, nav, .richVideoHolder div:has(.rvhResizer), .rvhDescription, .rvhVideo, .rvhMovementButton, .defaultHolderDiv>div:not([class="defaultHolderDiv"]), input, textarea, #galleryDialog, #galleryDialogToggle {
    border: 7px solid var(--text-color);
    background-color: var(--window-bg-color);
    transition: 0.2s;

}

main>div:hover, nav:hover, .rvhDescription:hover, .rvhMovementButton:hover, .defaultHolderDiv>div:hover, input:hover, textarea:hover {
    background-color: var(--window-bg-color-hover);

}

main>div{
    width: 75%;
    margin-top: 5.3vh;
    margin-bottom: 60px;
    display: grid;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    justify-items: center;
    justify-content: center;
}


main>div div {
    width: 80%;
}

footer {
    background-color: #0000007a;
    width: 100vw;
    height: 6vh;
    grid-area: footer;
    vertical-align: middle;
    overflow: hidden;
}

footer div {
    display: grid;
    grid-template-columns: 2fr 3fr 10fr 1fr 2fr;
}

footer img {
    height: 6vh;
    transition: 0.5s;
    grid-column: 4 / span 5

}

footer div>div{
    margin: auto;
    font-size: 80%;
    text-shadow: none;
    color: #fff;
    grid-column: 2 / span 2
}

.dark footer img {
    transform: rotate(180deg);
}

nav {
    position:sticky;
    justify-self:flex-end;
    top: 5.3vh;
    width: 80px;
    height: fit-content;
    grid-area: nav;
    z-index: 10;
    transition: 0.4s;
}

nav ul{
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 12px;
    padding: 10px;

}

nav ul li {
    width: 100%;
    height: 100%;
}

nav ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: var(--icon-brightness);
    transition: 0.3s;
    cursor: pointer;
    
    
    
    
}

nav ul li:hover img {
    transform:scale(1.2) translateX(-2px) translateY(-2px);
    filter: var(--icon-brightness);
    transition: 0.15s;
}

#excludedIcon img {
    animation-name: refuse;
    animation-duration: 0.3s;
    transform:rotate(0deg);
    cursor: inherit;

}

@keyframes refuse {
    0% { transform:rotate(0) translateX(-2px) translateY(-2px) scale(1.2)}
    33% { transform:rotate(2deg)}
    66% { transform:rotate(-2deg)}
    100% { transform:rotate(0deg) translateX(0) translateY(0) scale(1)}
}

/* nav ul:nth-child(1) li div {
    mask-image: url("imgs/icons/image 2.png");
} */

h1 {
    font-size: 38px;
    letter-spacing: 0.3vh   ;
    justify-self: center;
    margin-bottom: 60px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}


#introText::first-letter {
    font-size: 36px;
}

#programGrid {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-flow: row;
    row-gap: 30px;
    column-gap: 10px;
    align-items: center;
}

#programGrid img {
    justify-self: center;
    align-self: center;
}

#programGrid div {
    height: fit-content;
    width: 100%;
    font-size: 20px;
    padding-right: 1.7vw;
}

.richVideoHolder, .defaultHolderDiv {
    background-color: unset;
    border: none;
    padding: 0;
}

.richVideoHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    justify-items: center;
}

.richVideoHolder>div {
    display: flex;
    justify-content: center
}

.defaultHolderDiv {
    display: flex;
    justify-content: center;
}

.defaultHolderDiv:hover, .defaultHolderDiv>.defaultHolderDiv:hover {
    background-color: unset;
}


.richVideoHolder:hover {
    background-color: inherit;
}

.rvhResizer{
    width: max-content;
    width: 50vw;
}

.rvhVideo {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.rvhDescriptionHolder {
    position: relative;
    background-color: unset;
    width: 200%;
    border: none;
    height: 8vh;
    align-self: flex-end;
    z-index: 5;
    transition: 0.2s;
    transition-timing-function: ease-in-out;

}

.rvhDescription {
    position: absolute;
    bottom: -20%;
    width: 15vw;

    padding: 2vh;
    flex-flow: column wrap;
}

.rvhDescription p {
    font-size: 14px;
    margin-top: 1.7vh;
    width:100%;

}

.rvhDescription p:first-child {
    font-size: 18px;
    align-self: flex-start;
    margin: 0;
}

.rvhDescriptionMovementLeft {
    transform: translate(-4.3vw);
}

.rvhDescriptionMovementRight {
    transform: translate(2.3vw);
}

.rvhMovementButton, #galleryDialogToggle {
    position: absolute;

    width: 60px;
    height: 60px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rvhMovementButton {
    top: -12%;
    right: -12%;
}


.rvhMovementButton img, #galleryDialogToggle img {
    object-fit: scale-down;
    width: 80%;
    user-select: none;
    filter: var(--icon-brightness);
}

.rvhLeftRecenter {
    padding-left: 10%;
}

@media screen and (max-width: 1055px) {

.rvhMovementButton {
   display: none
}

.richVideoHolder {
   grid-template-areas:
   'rvhResize rvhResize'
   'rvhDesc rvhDesc';
   height: fit-content;
}

.rvhResizer {
   width: 100%;
   grid-column: 1 / span 2;
   grid-area: rvhResize;
}

.rvhDescriptionHolder {
    width: 100%;
    height: fit-content;
    margin-top: 5vh;
    margin-bottom: 25vh;
    grid-area: rvhDesc;
}

.rvhLeftRecenter {
    padding: 0;
}

.rvhDescription {
   width: unset;
   bottom: unset;
}

.rvhMovementButton {
   display: none
}


}

@media screen and (max-width: 600px) {

body {
    grid-template-areas: 
    'trans'
    'nav'
    'main'
    'footer';
    grid-template-columns: 1fr
}

main {
    align-items: center;
    padding-left: 0;
}

main>div{
    width: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}


nav {
    position: fixed;
    justify-self: center;
    top: 0px;
    width: fit-content;
    height: 70px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;

}

nav ul{
    width: auto;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    row-gap: 0px;
    column-gap: 30px;
    padding: 5px;
    padding-right: 2vw;
    padding-left: 2vw;

}

nav ul li {
    width: unset;
    height: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

nav ul li img {

   margin: auto
}

h1 {
   font-size: 30px
}

p {
   font-size: 16px;
}

#introText::first-letter {
    font-size: 25px;
}

}

@media screen and (max-width: 655px) {

#programGrid div {
    font-size: 16px;
}

#programGrid {
    grid-template-columns: 1fr;
    padding: 0;
    margin: auto;
    margin-top: 40px;
    width: 80%
}

}
